<!DOCTYPE html>
<html>
<style>
  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<head>
  <title>Person Database</title>
</head>

<body>
  <div class="container">
    <form action="/viewMain" method="POST">
      <h2>Database Results <input type="submit" value="Return to Person Submission Page"></h2>
    </form>
    <div>
      <table>
        <tr>
          <th>UID</th>
          <th>Name</th>
          <th>Size</th>
          <th>Height</th>
          <th>Type</th>
          <th>Year of Birth</th>
          <th>Superpower</th>
          <th>Hair Colour</th>
        </tr>
        <% rows.forEach(function(r) { %>
        <tr>
          <th><%= r.id %></th>
          <th><%= r.name %></th>
          <th><%= r.size %></th>
          <th><%= r.height %></th>
          <th><%= r.type %></th>
          <th><%= r.year %></th>
          <th><%= r.superpower %></th>
          <th><%= r.hair %></th>
        </tr>
        <% }); %>
      </table>
    </div>
</body>



<div>
<form action="/viewGraph" method="POST">
  <h1>View Data As Graph<input type="submit" value="View Graph"></h1>
</form>



</div>
</html>